.widian_content {
  height: 1010px;
  background-color: #ffffff;
  position: relative;
}

.popover_btn_box_O {
  position: absolute;
  z-index: 30;
  background-color: white;
  padding: 4px;
  border-radius: 50% 50% 50% 0%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.popover-button_O {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.popover-button_O {
  background-color: #4bdb4b;
  color: white;
  border-radius: 50%;
}
.popover_btn_box_O {
  top: 4%;
  left: 20%;
}
/* widain content box */
.widian_content_box {
  max-width: 1070px;
  flex-direction: column;
  display: grid;
  gap: 35px;
  padding-top: 110px;
  position: relative;
  z-index: 20;
}
.widian_content_red_title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 8px;
  color: #ae000c;
}
.widian_content_list {
  max-width: 1070px;
  display: grid;
  gap: 20px;
}
.widian_content_list p {
  font-family: "Century Gothic";
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  font-size: 25px;
  color: #666666;
}
.right-leaf-image {
  position: absolute;
  top: -8%;
  right: 0;
  max-width: 18%;
  z-index: 10; /* Lower than content box */
}
/* Leaf images */
.left-leaf-image {
  position: absolute;
  bottom: 1%;
  left: 0;
  max-width: 20%;
  z-index: 10; /* Lower than content box */
}
@media (max-width: 1680px) {
  .widian_content {
    height: 990px;
  }
  .widian_content_list p {
    font-size: 22px;
  }
  .widian_content_red_title {
    font-size: 30px;
  }
  .right-leaf-image {
    position: absolute;
    top: -7%;
    right: 0;
    max-width: 18%;
    z-index: 10; /* Lower than content box */
  }
  /* Leaf images */
  .left-leaf-image {
    position: absolute;
    bottom: 0%;
    left: 0;
    max-width: 17%;
    z-index: 10; /* Lower than content box */
  }
}
@media (max-width: 1440px) {
  .widian_content {
    height: 950px;
  }
  .widian_content_box {
    max-width: 1000px;

    gap: 30px;
    padding-top: 90px;
  }
  .widian_content_list {
    max-width: 1000px;
    padding: 0px 10px;
    gap: 20px;
  }
  .right-leaf-image {
    top: -7%;
    max-width: 18%;
  }
  /* Leaf images */
  .left-leaf-image {
    bottom: 1%;
    max-width: 16%;
  }
}
/* medium devices styel */
@media (max-width: 1024px) {
  .widian_content {
    height: 100%;
    padding: 25px 5px;
  }
  .widian_content_list p {
    font-size: 20px;
  }
  .widian_content_box {
    padding: 56px 10px 0px 10px;
  }
  .right-leaf-image {
    top: -7%;

    max-width: 20%;
  }
  .left-leaf-image {
    top: 3%;

    max-width: 14%;
  }
}
@media (max-width: 768px) {
  .widian_content_list {
    padding: 0px;
    gap: 20px;
  }
  .widian_content_list p {
    line-height: 32px;

    font-size: 18px;
  }
  .right-leaf-image {
    top: -6%;
    max-width: 20%;
  }
}
