.App {
  max-width: 1920px;
  margin: auto;
}
@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/Century\ Gothic.ttf") format("truetype");

  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/CenturyGothic.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("./fonts//sharefonts.net.txt") format("truetype");

  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display", serif;
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
/* @font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica-Bold.ttf") format("truetype");
} */
body {
  font-family: "Century Gothic", sans-serif;
}
/* custom button */
